# .coveragerc
[run]
# This tells coverage.py to not measure coverage for these files/directories
omit =
    */tests/*
    *.ipynb
    */.ipynb_checkpoints/*
    venv/*

[report]
# This ensures that even with 100% coverage, files with no statements are not ignored
fail_under = 0
show_missing = True