name: Build Documentation

on:
  pull_request:
    branches: [ main ]  # Adjust if your default branch is different

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
          
      - name: Build documentation
        run: |
          uv run -p 3.12 --no-dev --group docs -m sphinx -T -b html -d docs/_build/doctrees docs docs/_build/html
          
      - name: Upload documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: docs/_build/html/  
